@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before
*::after{
  box-sizing: border-box;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.field{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  }

  .select-control{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  }


.navigation-link, .contact-form{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}
.main-img{
  background-color: #000000;
}
.main-index{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.slogan, .proposal, .newsletter, .offer-title{

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}
.reasons, .proposal-descpiption, .newsletter-description{
  font-size: 22px;
  line-height: 26px;
}
.advantages-title, .service-title, .hotel-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.color-dark{
  color: #ffffff;
  background-color: #82b3d3;
}
.color-light{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}
.color-medium{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.newsletter, .newsletter-description{
  color: #ffffff;
  }
.newsteller-background{
  background-color: #000000;
  background-image: url("../images/sign-form-backgroung.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.contact-form{
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.filters{
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link{
color: #ffffff;
text-decoration: none;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}
.catalog-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.hotel-card-link{
  text-align: left;
  text-transform: none;
  color: #000000;
  text-decoration: none;
}
.hotel-type{
  text-align: left;
}
.hotel-price{
  text-align: right;
}
.no-background{
  color: #000000;
}
.button-search, .button-sign{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}
.button-sign{
  background-color:#82b3d3
}


.button-favorite, .button-apply, .button-in-favorite{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#82b3d3;
}
.button-in-favorite{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #7db54f;

}

.button-desire, .button-more{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#756157;
}

.button-reset{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}


.rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color:#f2f2f2;

}

.pagination-link, .pagination-current{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82b3d3;
}
.pagination-current{
  color: #000000;
  background-color:#f2f2f2;
}
