@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  outline:  2px solid #00ff04;;
}

body{
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  }
.main-container{
  flex-grow: 1;
  }

.reset-ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-container {
  width: 1200;
  margin: 0 auto;
  text-align: center;
}
.footer-container{
  text-align: center;
}

.logo{
  margin: 0 44px 0 70px;

}
.navigation{
  width: 1200;
  display: flex;
    margin: 0 auto;
}

.navigation-list{
  width: 507px;
  display: flex;
  flex-wrap: wrap;
  }

.navigation-item{
  display: block;
  padding: 20px;
}

.navigation-user{
  width: 368px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item-user{
  display: block;
  min-width: 50px;
  min-height: 22px;
  padding: 20px;
}



.field{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

  .select-control{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  }


.navigation-link, .contact-form{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}
.main-img{
  background-color: #000000;
  width: 458px;
  height: 352px;
  display: block;
  margin: 0 auto;

}
.main-index{
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-bottom: 69px;
}
.slogan, .proposal, .newsletter, .offer-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.slogan{
margin-bottom: 25px;
}
.reasons{
  margin-bottom: 90px;
}

.reasons, .proposal-descpiption, .newsletter-description{
  font-size: 22px;
  line-height: 26px;
}
.advantages-title, .service-title, .hotel-card-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.color-dark{
  color: #ffffff;
  background-color: #82b3d3;
}
.color-light{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}
.color-medium{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.newsletter, .newsletter-description{
  color: #ffffff;
  }
.newsteller-background{
  background-color: #000000;
  background-image: url("../images/sign-form-backgroung.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.contact-form{
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.filters{
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.house{
  background-image: url("../images/svg/house.svg");
  background-repeat: no-repeat;
  height: 70px;
  width: 74px;

  }
.food{
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
}
.souvenir{
  background-image: url("../images/svg/gift.svg");
  background-repeat: no-repeat;
}

.main-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link{
color: #ffffff;
text-decoration: none;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}
.catalog-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.hotel-card-link{
  text-align: left;
  text-transform: none;
  color: #000000;
  text-decoration: none;
}
.hotel-type{
  text-align: left;
}
.hotel-price{
  text-align: right;
}

.newsteller-background, .no-background{
  padding: 96px 258px 104px;
}
.no-background{
  background: none;
  text-align: center;
 }
 .black{
  color: #000000;
 }
.button-search, .button-sign{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding:8px 50px;
  border: 0;
}
.button-sign{
  background-color:#82b3d3
}


.button-favorite, .button-apply, .button-in-favorite{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#82b3d3;
  border: 0;
}
.button-in-favorite{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #7db54f;
  padding: 8px 18px;

}

.button-desire, .button-more{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#756157;
}

.button-desire{
  padding: 8px 34px;
}
.button-more{
  padding: 8px 26px;
}

.button-favorite{
  padding: 8px 20px;
  border: 0;
}
.button-apply{
  padding:8px 50px;
}

.rating{
  padding:9px 22px 8px 23px;
}

.button-reset{
  padding:8px 58px;
}


.button-reset{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}


.rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color:#f2f2f2;

}

.pagination{
  display: flex;
}
.pagination-link, .pagination-dots{
  width: 60px;
  padding: 11px;
  margin: 8px;
}
.pagination-link, .pagination-current{
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82b3d3;
  text-decoration: none;
  text-align: center;
}
.pagination-current{
  color: #000000;
  background-color:#f2f2f2;
}

.advantages-item, .service-item{
  width: 400px;
}
.advantages-description, .service-description{
  padding: 85px;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
}
.service-item-list{
  display: flex;
  flex-wrap: wrap;
 }

.field{
  width: 452px;
  padding:14px 20px ;
}

.proposal-background{
  padding: 96px 304px;
}

.footer-container{
display: flex;
justify-content:space-between;
}

.footer-social-list{
display: flex;
}
.contact-form{
margin: 45px 0 35px;
}
.academy-logo{
  margin: 48.5px 70px 36.5px;
}
.social-img{
 margin: 56.5px 0 46.5px;
}

.social-info{
  width: 300px;
}
