@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after{
  box-sizing: border-box;

}

html{
  height: 100%;
}


body{
  margin:0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  }

.main-container, .header-container, .footer-container{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  }

  .main-container{
    flex-grow: 1;
  }

  .page-container {
    text-align: center;
  }

  .footer-container{
    align-items: center;
    padding: 45px 70px 35px 81px;
    display: flex;
    justify-content:space-between;
  }

.reset-ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo{
  margin: 0 44px 0 70px;
  position: absolute;

}
.navigation{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.navigation-list{
  width: 507px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 238px;
  }



.navigation-user{
  max-width: 368px;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 14px 70px 0 0;
}





.newsletter-form{
  display: flex;
  flex-wrap: wrap;

}
.newsletter{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/sign-form-backgroung.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 96px 258px 104px;
  text-align: center;
}

.newsletter-title{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  }
  .no-background{
    background: none;
    color: #000000;
  }



  .select-control{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  margin-right: 70px;
  }



.navigation-link, .contact-form{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.navigation-link{
  display: block;
  min-width: 42px;
  min-height: 22px;
  padding: 20px;
  padding-right: 10px;
  position: relative;
}
.navigation-list:first-child{
  margin-left: 234px;
}


.navigation-link:hover {
  color: #82b3d3;
}

.navigation-link:focus {
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  border: none;
}

.navigation-link:active {
  color:#83B3D3;
  border: transparent;
}


.icon{
  padding: 10px ;
}


.navigation-link-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  top: 0;
  right: 3px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px 2px;
}

.navigation-current::after {

  content: "";
  display: block;
 border-bottom: 2px solid #756257;
 margin-top: 20px;
 margin-bottom: -20px;

}

.main-img{
  width: 458px;
  height: 352px;
  display: block;
  margin: 0 auto;

}
.main-index{
  color: #000000;
  background-color: #000000;
  background-image: url("../images/svg/decoration.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 50px;
  padding-bottom: 80px;

}

.slogan, .proposal, .offer-title{
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.proposal, .newsletter-title{
  margin-bottom: 20px;
}

.slogan{
  padding: 69px 290px 25px;
}
.reasons{
  margin: 0;
  padding: 0 247px 90px;
  font-size: 22px;
  line-height: 26px;
  }

.proposal-description{
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}
.newsletter-description{
  margin: 0;
  margin-bottom: 54px;
}

.advantages-title, .service-title, .hotel-card-link{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-title{
  padding: 92px 113px 62px;
  position: relative;
}

.line::after {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color:rgba(0, 0, 0, 0.3);
  content: "";
}
.line-light::after{
  background-color:rgba(255, 255, 255, 0.3)
}

 .service-title{
  padding:182px 85px 30px;
 }


.color-dark{

  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}
.color-light{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
 }
.color-medium{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);

}

.middle-line{
  padding-top: 15px;
}

.contact-form{
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.filters{
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.house{
  background-image: url("../images/svg/house.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;
    }
.food{
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-position: center top 80px;
}
.souvenir{
  background-image: url("../images/svg/gift.svg");
  background-repeat: no-repeat;
  background-position:center top 80px;
}

.main-title{
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link{
color: #ffffff;
text-decoration: none;
}
.catalog-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}
.catalog-filter-item{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.hotel-card-link{
  text-align: left;
  text-transform: none;
  color: #000000;
  text-decoration: none;
}
.hotel-type{
  text-align: left;
}
.hotel-price{
  text-align: right;
}

.button-search, .button-sign {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding:8px 50px;
  border: 0;
  border-radius: 4px;
  }
  .button-search{
    font-size: 19px;
  }

.button-sign {
  background-color:#82b3d3;
  border-radius: 0 4px 4px 0;
}

.button-form-sign{
  width: 100%;
  border-radius: 4px;
}

.button-favorite, .button-apply, .button-in-favorite{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#82b3d3;
  border: 0;
  border-radius: 4px;
}
.button-in-favorite{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #7db54f;
  padding: 8px 18px;

}

.button-desire, .button-more{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color:#756157;
  border-radius: 4px;
}

.button-more{
  padding: 8px 26px;
}

.button-favorite{
  padding: 8px 20px;
  border: 0;
}
.button-apply{
  padding:8px 50px;
}

.button-reset{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding:8px 58px;
  border-radius: 4px;
  background-color:transparent;
  border: transparent;
}

.button-desire{
  padding: 8px 34px;
  margin-left: 20px;
}

.button-desire:hover,
.button-desire:focus,
.button-search:hover,
.button-search:focus,
.button-more:hover,
.button-more:focus
{
  color: #ffffff;
  background-color:#615048;
  outline: none;
}
.button-desire:disabled,
.button-search:disabled,
.button-more:disabled
{
  color: #ffffff;
  background-color:#e5e5e5;
}

.button-desire:active,
.button-search:active,
.button-more:active
{
  color:rgba(255, 255, 255, 0.3);
  background-color:#756157;
}

.button-sign:hover,
.button-sign:focus,
.button-apply:hover,
.button-apply:focus,
.button-favorite:hover,
.button-favorite:focus,
.pagination-link:hover,
.pagination-link:focus
{
  color: #ffffff;
  background-color:#68a2ca;
}

.button-sign:disabled,
.button-apply:disabled,
.button-favorite:disabled,
.pagination-link:disabled
{
  color: #ffffff;
  background-color:#e5e5e5;
}


.button-sign:active,
.button-apply:active,
.button-favorite:active,
.pagination-link:active
{
  color:rgba(255, 255, 255, 0.3);
  background-color:#82b3d3;
}

.button-in-favorite:hover,
.button-in-favorite:focus
{
  color: #ffffff;
  background-color:#6c9e42;
}

.button-in-favorite:disabled{
  color: #ffffff;
  background-color:#e5e5e5;
}

.button-in-favorite:active{
  color:rgba(255, 255, 255, 0.3);
  background-color:#7db54f;
}

.rating{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color:#f2f2f2;
  border-radius: 4px;
  padding:9px 22px;

}

.pagination{
  display: flex;
  flex-wrap: wrap;
}
.pagination-link{
  min-width: 60px;
  height: 60px;
  padding: 11px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82b3d3;
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pagination-current,
.pagination-current:link,
.pagination-current:active,
.pagination-current:hover,
.pagination-current:focus
{
  color: #000000;
  background-color:#f2f2f2;
}
.pagination-dots,
.pagination-dots:link,
.pagination-dots:active,
.pagination-dots:hover,
.pagination-dots:focus
{
  color: #000000;
  background-color:#ffffff;
}

.service-item{
  width: 400px;
}

.advantages-item{
 width: 400px;
 min-height: 384px;
}

.breadcrumbs{
  display: flex;
  margin-bottom: 40px;
}
.catalog-filter{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.filters{
  margin: 0;
  padding: 35px 70px 70px;
}

.advantages-description{
  margin: 0;
  padding: 0 85px;
}
.service-description{
  margin: 0;
  padding: 0 85px;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
}
.service-item-list{
  display: flex;
  flex-wrap: wrap;
  min-height: 384px;
 }



.proposal-background{
  margin: 0;
  padding: 96px 304px;
}



.footer-social-list{
display: flex;
flex-wrap: wrap;
}

.button-social .social-img{
  color: #83B3D3;
}

.button-social:hover .social-img,
.button-social:focus .social-img{
  color: #68a2ca;
  outline: none;
}

.button-social:active .social-img {
  color: rgba(104, 162, 202, 0.3);
}
.htmlacademy-link .academy-logo{
  color: #000000;
}
.contact-form:hover,
.contact-form:focus,
.htmlacademy-link:hover .academy-logo,
.htmlacademy-link:focus .academy-logo{
  color: #756157;
  box-shadow: inset 0 0 3px 1px rgba(130, 179, 211, 0.5);
  outline: none;
}

.htmlacademy-link:active .academy-logo,
.contact-form:active {
  color: rgba(117, 97, 87, 0.3);
}

.button-social{
  margin-right: 26px;
}


.hotel-card-title{
  margin: 0;
  font-size: 24px;
}

.hotel-list{
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  row-gap: 15px;
  padding-bottom: 40px;
  margin-bottom:40px;
  border-bottom: 1px solid #e6e6e6
  ;
}

.hotel-card{
  display: grid;
  width: 340px;
  padding: 20px;
  grid-template-columns:140px 140px ;
  column-gap: 20px;
  row-gap: 16px;
  border-color: #e6e6e6;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;

}
.hotel-card-link{
  grid-column-start: 1;
  grid-column-end: 3;
}

.hotel-card-img{
  margin-bottom: 16px;
  display: block;
}

.two-stars{
  background-image:url("../images/svg/star.svg"), url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%;
}
.three-stars{
  background-image:url("../images/svg/star.svg"), url("../images/svg/star.svg"), url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%, 48px 50%;
}

.four-stars{
  background-image:url("../images/svg/star.svg"), url("../images/svg/star.svg"), url("../images/svg/star.svg"), url("../images/svg/star.svg");
  background-repeat: no-repeat;
  background-position: 0 50%, 24px 50%, 48px 50%, 72px 50%;
}

.offer{
  padding: 50px 70px 60px ;

}

 .find-hotel-view{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 41px;
align-items: center;
}

.breadcrumbs-item:not(:last-child)::after{
  content: "";
  padding: 0 10px;
  background: url("../images/svg/arrow.svg") no-repeat;
  background-position: center;
}


.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);

}

.modal-content{
  padding: 64px 70px;
}

.modal {
  position: relative;
  margin: auto;
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-auth {
  width: 717px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top:64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover{
background-color: #e6e6e6;
}
.modal-close-button:focus{
  background-color: #e6e6e6;
  outline-color: #83b3d3;
}
.modal-close-button:active{
  background-color: #e6e6e6;
  color: rgba(128, 128, 128, 0.2);
  fill-opacity: 0.3;
}

.close-form{
  padding-top: 3px;
  padding-left: 1px;
}


.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.in-name, .out-name, .adult-name, .child-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 14px 0;
  margin-right: 24px;
  white-space: nowrap;
  vertical-align: middle;
}

.out-name{
  margin-right: 19px;


 }
.adult-name{
  margin-right: 46px;
}
.child-name{
  margin-right: 10px;
}

.calendar{
  position: absolute;
  background-color:transparent;
  border: none;
  padding: 0;
  right: 22px;
  top:16px;
  }


  .calendar:hover path,
.calendar:focus path {
  fill: #756157;
}

.calendar:active path {
  fill: #83b3d3;
}

.field{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  flex-grow: 1;
  border-radius: 4px 0 0 4px;
  padding:14px 20px;

}



.catalog-field{
  background-color: #f2f2f2;
}

.field-modal{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding:14px 20px;
  border: none;
  width: 100%;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  border-radius: 4px;
}
.field:hover,
.field-modal:hover{
  background-color: #e6e6e6;
  border: none;
}
.field:focus,
.field-modal:focus{
  outline-color: #82b3d3;
}

.field:active,
.field-modal:active{
  outline-color: #000000;
  color: #000000;
}

.in-group, .out-group{
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 4px;
  margin-top: 23px;
}

.count{
  display: flex;
}

.field-mini{
 padding: 0;
 width: 30px;
 text-align: center;
 border-radius: 0;
}

.btn-more{
padding:4px 14px;
background-color: #f2f2f2;
border: none;
  }

  .btn-less {
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
 padding:0 14px;
 background-color: #f2f2f2;
 border: none;
 }


  .btn-more {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-less:hover path,
  .btn-more:hover path,
  .btn-less:focus path,
  .btn-more:focus path {
    fill: #000000;
    fill-opacity: 1;
  }

  .btn-less:focus svg,
  .btn-more:focus svg {
    outline: 3px solid #82b3d3;
    border-radius: 4px;
  }

  .btn-less:active path,
  .btn-more:active path {
    fill-opacity: 0.2;
  }


.mini-form{
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  margin-bottom:48px ;
}

.form-notify{
  font-size: 16px;
  line-height: 21px;
  margin-left:156px;
}

.bad-notify{
  color: #ff0000;
}


.catalog-filters {
  padding: 35px 70px 73px;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f5e72;
  color: #ffffff;
}

.catalog-filters-header-title {
  margin: 0 0 8px 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}



.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filters-label {
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filters-label:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filters-label:hover .catalog-filters-mark {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.catalog-filters-label:focus {
  outline: none;
}

.catalog-filters-label:focus-within .catalog-filters-mark {
  box-shadow: 0 0 0 3px #83b3d3;
}

.catalog-filters-mark {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.catalog-filters-mark-radio {
  border-radius: 50%;
}

.catalog-filters-mark-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.catalog-filters-checkbox:checked + .catalog-filters-mark {
  background: #ffffff url("../images/svg/check.svg") center center no-repeat;
}

.catalog-filters-radio:checked + .catalog-filters-mark-radio::before {
  display: block;
}

.catalog-filters-checkbox:disabled + .catalog-filters-mark,
.catalog-filters-radio:disabled + .catalog-filters-mark-radio {
  opacity: 0.5;
  cursor: auto;
}

.catalog-filters-form {
  display: flex;
  justify-content: space-between;
  column-gap: 70px;
}

.catalog-filters-group {
  padding: 0;
  margin: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  border: none;
}

.catalog-filters-group-price {
  width: 288px;
  margin-left: auto;
}

.range-wrapper-inputs {
  display: flex;
  column-gap: 2px;
}

.range-input {
  padding: 12px 44px 12px 20px;
  width: 100%;
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border: none;
  appearance: textfield;
}

.range-input-wrapper {
  position: relative;
  width: 50%;
}

.range-input-wrapper::after {
  content: "от";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input-wrapper:last-child::after {
  content: "до";
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-wrapper:first-of-type .range-input {
  border-radius: 4px 0 0 4px;
}

.range-input-wrapper:last-of-type .range-input {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background: #e6e6e6;
}

.range-input:focus {
  background: #e6e6e6;
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-input:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.range-scale {
  position: relative;
  margin-top: 44px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #82b3d3;
}

.range-toggle:active,
.range-toggle:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filters-buttons {
  margin-top: auto;
  width: 191px;
}

.catalog-filters-submit,
.catalog-filters-reset {
  padding: 8px 10px;
  max-width: 191px;
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.catalog-filters-submit {
  margin-bottom: 30px;
}

.catalog-filters-submit:hover {
  background: #68a2ca;
}

.catalog-filters-submit:focus {
  background: #68a2ca;
  outline: none;
}

.catalog-filters-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-submit:disabled {
  background-color: #e5e5e5;
  cursor: auto;
}

.catalog-filters-reset {
  background: transparent;
  position: relative;
  top: 3px;
}

.catalog-filters-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-filters-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.catalog-filters-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filters-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: auto;
}

.select-control {
  margin-left: auto;
  padding: 11px 16px;
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  cursor: auto;
}

.products-button {
  margin: 0 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.products-current {
  border-color: #000000;
}

.products-button:last-child {
  margin-right: 0;
}

.products-button-icon {
  width: 16px;
  height: 14px;
}

.products-button:hover,
.products-button:active {
  border-color: #000000;
}

.products-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.tooltip {
  position: relative;
  align-self: center;
  margin-right: 46px;
}

.tooltip-toggle {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  transform: translateX(-50%) scale(1);
}

.tooltip-icon {
  fill: #ffffff;
}

.tooltip-text {
  padding: 18px 18px 24px 22px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  z-index: 1;
  width: 256px;
  transition: 0.2s;
}
close
.tooltip-text:after {
  content: "";
  width: 16px;
  height: 16px;
  position:absolute;
  transform: translateY(50%) rotate(45deg);
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  background: #333333;
}

.modal-container-close {
  display:none ;
}
